<div class="row headerv1">
  <div class="container">

    <div class="col-md-3 col-sm-3 col-xs-3" >
      <%= image_tag("http://yamaha.com.cn/assets/logo_yamaha-f2cf48eec4b4595c30ca169ce5eb938a.gif",class: "logo")%>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="top-search">
          <form action="/search" method="get">
            <div class="input-group">
              <input type="text" name="q" class="form-control" />
              <span class="input-group-btn">
                <button class=" btn btn-default" type="submit">
                  搜索
                </button>
              </span>
            </div>
          </form>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 ">
      

      <div class="dropdown  pull-right" style="padding-left:10px;margin:0;">
        <span class="dropdown-toggle nav-menu" data-toggle="dropdown">
          <i class="fa-left fa fa-3x fa-plus-square" aria-hidden="true"></i>
        </span>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><%=link_to("退出",logout_path,method: :delete) if current_user%></li>
        </ul>
      </div>
      <div class="pull-right">
        <%if current_user%>
          <span style="line-height:40px;vertical-align:middle;"><%= link_to current_user.name, current_user%></span>
        <%else%>
          <span style="line-height:40px;vertical-align:middle;">
            <%= link_to "登陆",login_path%>
            <%= link_to "注册",signup_path%>
          </span>
        <%end%>
        <a href="" style="line-height:40px;vertical-align:middle;" data-toggle="modal" data-target="#modal-login"></a>
      </div>

    </div>
  </div>

  <ul class="home-nav">
    <li class="active"><a href="">产品</a></li>
    <li><a href="">音乐</a></li>
    <li><a href="">销售网络</a></li>
    <li><a href="">客户支持</a></li>
    <li><a href="">新闻互动</a></li>
    <li><a href="">关于雅马哈</a></li>
  </ul>
</div>

<script type="text/javascript">
  $(function(){
    $(".dropdown").mouseover(function() {   
     $(this).addClass('open'); }).mouseout(function() {$(this).removeClass('open'); }); 
    });
</script>